html{
    margin:0 auto;
    padding: 0 auto;
}
nav{
    display: flex;
    background-color: #c4c4c4;
    height: 20vh;
}
.logo-one ul{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width:100%;
    margin: 0;

}
.logo-one ul li {

    list-style-type: none;
    display:block;
    margin: 0 auto; 
    padding: 70px;

}
.logo-one ul li a{
    text-decoration: none;
    
} 

.logo-one input{
    padding: 15px;
    border: transparent;
    font-size: 15px;
    text-align: center;
}
.logo img{
    height: 20vh;
    width: 20vh;
}
.logo-text{
    position: relative; bottom: 80px;
    color:#DF6C19;
    font-size: 25px;
}
#poultry ul{
    display: flex;
    align-items: stretch; 
    justify-content: space-evenly;
    width: 80%;
    margin: 0;
    padding: 0;
    float: right;

}
#poultry ul li{
    list-style-type: none;
    display: block;
    flex: 0 1 auto;  
    background-color: #92E06A;
    padding: 15px 30px;
    border-radius: 0px 0px 0px 100px; 
    
}
.header{
    background-color: #c4c4c4;
}
.header h1{
text-align: center;
padding: 50px;
}
.header p{
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
}
.header img{
    margin-top: 100px;
    width: 100%;
    height: 80vh;  
}
.work{
    text-align: center;
    color: #DF6C19;
}
.principles{
    display: flex;
    justify-content: space-between;
}
.principles h1{
    text-align: center;
    color: #DF6C19;
    font-size: 30px;
}
.disease{
    background-color: #c4c4c4;
    border-radius: 13px;
}
.disease img{
    width: 50vh;
    height: 50vh;
}
.management h1{
    text-align: center;
    color: #DF6C19;
    margin-top: 100px;
}
.management p{
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}
.doctor{
    background-color: #92E06A;
    font-size: 40px;
    color: white;
    font-style: italic;
    text-align: center;
    padding: 5px;
}
#support{
    display: flex;
    justify-content: space-between;
}
.supportone{
    margin-top: 100px;
    background-color: #c4c4c4;
}
.supportone img{
    height: 50vh;
    width: 50vh;
}
.supportone p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}
.offer{
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    color: white;
    padding: 18px 20px;
    background-color: #DF6C19;
    border: transparent;
    font-size: 20px; 
} 
#footer{
    text-align: center;
    background-image:url(./images/signup-removebg-preview.png
    );
    color:#DF6C19;
    font-size: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60%;
    background-color: #92E06A;
}
#footer .container{
    margin-top: 100px;
    padding: 30px;
}
.container input {
    padding: 20px;
    margin:0 auto;
}
#close{
    display: flex;
    justify-content: space-around;
}
#close .info img{
    height: 6vh;
    width: 6vh;
}
#close .info{
    display: flex;
    flex-direction:column;
}
.close-text{
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    padding: 20px;
    background-color:#92E06A;
}

