.pha{
    margin-left: 10%;
    position: absolute;
    top: 5%;
    color: #70E838;
    font-weight: 800;

}
.navSection>nav{
    margin-right: 50px;
    position: absolute;
    top: 4%;
    left: 30%;
    flex-direction: row-reverse;
    margin-top: 20px;
}
.navSection>nav>a{
    justify-content: space-between;
    font-weight: 800;
    color: black;
    padding: 50px;
    text-decoration: none;
}
.glass{
    margin-left: 72%;
    margin-bottom: 23px;
    position: absolute;
    top: 6%;
    
}
.login{
    margin-left: 85%;
    margin-bottom: 23px;
    position: absolute;
    top: 5%;
    height: 40px;
    width: 150px;
    background-color: #DF6C19;
}
.secondNav{
    margin-left: 20%;
    top:5%;
    padding-bottom: 50px; 
    
}
.CHICKEN{
    margin-right:12%;
    padding-right:4%;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 0px 0px 0px 40px;
    background-color: #70E838;
}
.ducks{
    margin-right:10%;
    padding-right:4%;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 0px 0px 0px 40px;
    background-color: #70E838;
}
.turkey{
    margin-right: 12%; 
    padding-right:4%;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 0px 0px 0px 40px;
    background-color: #70E838; 
}
.others{
    padding-right:4%;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 0px 0px 0px 40px;
    background-color: #70E838;
}
.secondSection{
    display: flex;
    background-color: #E5E5E5;
    margin-bottom:5%;
}
.info{
    margin-left: 12%;
    font-family: sans;
    font-size: 20px;
    margin-top: 2%;
}
.chic{
    font-weight: 800;
}
.thirdSection{
background-color: #E5E5E5;
padding-top: 4%;
}
.iconOne{
   position: absolute;
   top: 110%;
}
.disease{
    padding-right: 8%;
    font-size: 20px;
    font-weight: bolder;
    background-color: #70E838;

}
.symptoms{
    margin-left: 17%;
    padding-right: 8%;
    font-size: 20px;
    font-weight: bolder;
    background-color: #70E838;
}
.prevention{
    margin-left: 18%;
    padding-right: 8%;
    font-size: 20px;
    font-weight: bolder;
    background-color: #70E838;
}
.guide{
    margin-left:8%;
    font-size: 25px;
    font-weight: bolder;
}
.coccidiosis{
    display: flex;
}
.cocci{
    font-size: 25px;
}
.ruffled{
    margin-left: 21%;
    font-size: 25px;
    
}
.loose{
    margin-top: 4%;
    left: 32%;
    position: absolute;
    font-size: 25px;
}
.weight{
    margin-top: 6.5%;
    position: absolute;
    right: 59.5%;
    font-size: 25px;
}
.food{
    margin-left: 23%;
    font-size: 25px;
}
.starter{
    position: absolute;
    margin-left: 65.6%;
    margin-top:4%;
    font-size: 25px;
}
.one{
    padding-right: 2%;
    font-size: 25px;
}
.vaccine{
    position: absolute;
    margin-top: 6%;
    margin-left: 66.5%;
    font-size: 25px;
}
.newcastle{
    display: flex;
    padding-top: 7%;

}
.two{
    padding-right: 2%;
    font-size: 25px;
}
.bd{
    font-size: 25px;
    margin-left: 4%;
}
.new{
    padding-right: 12%;
    font-size: 25px;
}
.murky{
    margin-top: 4%;
    left: 31.5%;
    position: absolute;
    font-size: 25px;
}
.nasal{
    margin-top: 6%;
    position: absolute;
    right: 57.2%;
    font-size: 25px;
}
.practice{
    padding-left: 20%;
    font-size: 25px;
}
.flock{
    margin-top: 4%;
    left: 66.5%;
    position: absolute;
    font-size: 25px;
}
.marek{
    padding-top: 5%;
    display: flex;
    font-size: 25px;
}
.three{
    padding-right: 2%;
}
.mareks{
    padding-right: 13%;
    
}
.partial{
    margin-left: 5%;
}
.pupil{
    margin-top: 4%;
    left: 32%;
    position: absolute;
    font-size: 25px;
}
.tumors{
    margin-top: 6%;
    position: absolute;
    right: 52%;
    font-size: 25px;
}
.vaccinated{
    padding-left: 24%;
    font-size: 25px;
}
.fowl{
    padding-top: 5%;
    display: flex;
    padding-bottom: 4%;
    font-size: 25px;
}
.pox{
    padding-right: 13%;
    font-size: 25px;
}
.areas{
    padding-left: 10%;
}
.eye{
    margin-top: 4%;
    left: 32.5%;
    position: absolute;
}
.vaccinate{
    padding-left: 16%;   
}

.some{
    margin-top: 4%;
    font-size: 20px;
    font-family:serif;
    font-weight: bolder;
    background-color: #DF6C19;
    margin-left: 28%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 4%;
}
.coci{
    font-size: 23px;
    font-weight: 700;
}
.cocc{
    display: flex;
}
.colOne{
    margin-top: 4%;
    margin-left: 27%;
    font-size: 23px;
    border:1px solid black ; 
    border-radius: 20px 20px 20px 20px;
    background-color: #70E838;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;

}
.newc{
    display: flex;
}
.mark{
    display: flex;
}
.newcas{
    font-size: 23px;
    font-weight: 700;  
}
.colTwo{
    margin-top: 4%;
    margin-left: 28%;
    font-size: 23px; 
    border:1px solid black ; 
    border-radius: 20px 20px 20px 20px;
    background-color: #70E838; 
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
}
.marks{
    font-size: 23px;
    font-weight: 700;
}
.colThree{
    margin-top: 4%;
    margin-left: 29%;
    font-size: 23px; 
    border:1px solid black ; 
    border-radius: 20px 20px 20px 20px;
    background-color: #70E838;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
}
.firstPic{
    margin-left: 15%;
}
.secondPic{
    margin-left: 15%; 
}
.thirdPic{
    margin-left: 15%;
}
.fourthSection{
    background-color: #E5E5E5;
}
.fifthSection{
    display: flex;
}
.copy{
    padding-right: 20%;
    padding-left: 8%;
    font-weight: bolder;
}
.design{
    padding-left:25%;
    font-weight: bolder;
}
.fb,.yt,.tw,.ig,.in{
    padding-top: 1%;
}