
html{
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
nav{
    display: flex;
    background-color: #c4c4c4;
    height: 20vh;
}
.logo-one ul{
    display: flex;
    position: absolute;
    right:2%;

}
.logo-one ul li {

    list-style-type: none;
    display:block;
    margin: 0 auto; 
    padding: 30px;

}
#poultry ul li :hover{
    color: #92E06A;
}
.logo-one ul li a{
    text-decoration: none;
    font-size: 25px;
    
} 

.logo-one input{
    padding: 15px;
    border: transparent;
    font-size: 15px;
    text-align: center;
    position: relative; bottom: 20px;
}
.logo img{
    height: 20vh;
    width: 20vh;
}
.logo-text{
    color:#DF6C19;
    font-size: 25px;
    position: absolute;
    margin-top: 4%;
}

#poultry ul{
  display: flex; 
  justify-content: space-around; 
  
}
#poultry ul li{
    list-style-type: none;
}
.health{
    display:flex;
    margin: 50px;
    justify-content: space-evenly;

}

.disease{
    background-color: #92E06A;
    height: 210px;
    border-radius: 0px 100px 0px 100px;
    padding-top: 40px;padding-left: 30px;
    overflow: hidden;
    padding-right: 40px;
}

  
.health .imgchicken{
    border-radius: 0px 0px 0px 100px;
    height: 250px;




} .container p{
    font-size: 30px;
}
h2{
    font-size: 40px;
    color: #E19156;
} 
 .second-div p{
    background-color: #83DE76;
    border-color: #83DE76;
    height: 250px;
    border-radius: 0px 100px 0px 100px;
    overflow: hidden;
    padding-left: 40px;
    padding-top: 70px;
    padding-right: 40px;
}
label{
    color: #E19156;
    font-size: 30px;
}
.background button{
    text-align: center; 
    margin-top: 200px;

    
}

.background{
    display: flex;
    flex-direction: column;
    background-image: url("./images/images\ \(1\).jpeg");
    background-size: cover;
    height: 60vh;
    background-repeat: no-repeat;
    justify-content: center;


    
}
.background p1{
  
  max-width: 10%;
  margin: 0 auto;
  font-size: 20px;
  font-style: italic;
  color:#E19156;
  text-align: center;

}
.sign{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.location{
    display: flex;
    margin: 50px;
    justify-content: space-around;
    flex-direction: row;
    -ms-flex-item-align: center;
}
.time{
    height: 10px;
    width: 10px;
}

.offer{
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    color: white;
    padding: 18px 20px;
    background-color: #DF6C19;
    border: transparent;
    font-size: 20px; 
} 
button:hover{
    background-color:white;
    color: #DF6C19;
    border: solid;
    border-color: #92E06A;
    cursor:pointer;
}
#footer{
    text-align: center;
    background-image:url(./images/signup-removebg-preview.png
    );
    color:#DF6C19;
    font-size: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60%;
    background-color: #92E06A;
}
#footer .container{
    margin-top: 100px;
}
.container input {
    padding: 20px ;
    margin:0 auto;
}
#close{
    display: flex;
    justify-content: space-around;
    background-color: #c4c4c4;
}
#close .info img{
    height: 6vh;
    width: 6vh;
}
#close .info{
    display: flex;
    flex-direction:column;
}
.close-text{
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    padding: 20px;
    background-color:#c4c4c4;
}
@media only screen and (max-width:500px){
   #support{
       flex-direction: column;
   } 
   .principles{
       flex-direction: column;
   }
}
    